.table {
    width: 600px;
    border: 1px solid black;
    border-spacing: 0;
    .title {
        background-color: rgb(55, 58, 57);
        padding: 10px 0;
        color: aliceblue;
        font-weight: normal;
    }
    .string:nth-child(odd){
        background-color: rgb(204, 199, 199);
    }
    .cell {
        text-align: center;
        border: 1px solid black;
        &:nth-child(1) {
            text-transform: capitalize;
        }
    }
}